<a href="https://colab.research.google.com/github/miguelcasadinho/colab/blob/main/aqua.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data cleaning

In [1]:
# Import the libraries
import numpy as np
import pandas as pd

In [34]:
# Import the dataset
dataset = pd.read_csv('Dados SIG_11_.2024.csv', sep=';', skiprows=2)

# Keep only specific columns
columns_to_keep = ['Ramal','Local','Nº Prédio','Nr.Cliente','Tipo Sensibilidade','Nome','Rua A.','Policia A.','Andar A.','Localidade A.','ZMC','Zona','Área','Nº Seq. Leitura','Grupo Tarifário','Tipo Utilização','Classe Consumo','Situação','Data Situação','Data Instalação','Calibre Local','Fabricante','Modelo do Contador','Número Fabricante','Calibre','Data Última Leitura Facturada','Valor Última Leitura Facturada','Data Última Leitura Empresa','Valor Última Leitura Empresa']
dataset = dataset[columns_to_keep]

# Rename specific columns
dataset = dataset.rename(columns={'Nº Prédio':'Predio','Nr.Cliente':'Cliente','Tipo Sensibilidade':'sensi','Rua A.':'Arruamento','Rua A.':'NPolicia','Área':'Area','Nº Seq. Leitura':'Sequencia','Grupo Tarifário':'Tarifario','Tipo Utilização':'Utilizacao','Classe Consumo':'ClasseConsumo','Situação':'Situacao','Data Situação':'DataSituacao','Data Instalação':'DataInstalacao','Calibre Local':'CalibreLocal','Fabricante':'Marca','Modelo do Contador':'Modelo','Número Fabricante':'Numero','Calibre':'DN','Data Última Leitura Facturada':'DataULF','Valor Última Leitura Facturada':'ULF','Data Última Leitura Empresa':'DataULE','Valor Última Leitura Empresa':'ULE'})

print(dataset.shape)
print(dataset.head)

<ipython-input-34-8c0d1921125b>:2: DtypeWarning: Columns (8,11,23,24,30,103,121,122,123,135,138,143,145,147,155,156,159,163,172,204,206) have mixed types. Specify dtype option on import or set low_memory=False.
  dataset = pd.read_csv('Dados SIG_11_.2024.csv', sep=';', skiprows=2)

(44305, 29)
<bound method NDFrame.head of          Ramal  Local  Predio  Cliente     sensi  \
0      1059013  24033  165670  1767011  1 NORMAL
1      1220020  24215  166308  2001012  1 NORMAL
2       364074  24239  166367  2018616  1 NORMAL
3        25070  24249  166413  2030217  1 NORMAL
4       577034   2004   13793  1910817  1 NORMAL
...        ...    ...     ...      ...       ...
44300   757008  16224    5924  2245612  1 NORMAL
44301   902045  13212   10994  2254417  1 NORMAL
44302  1233001  19254    9130  2156210  1 NORMAL
44303   893023   1596    1449  2327813  1 NORMAL
44304   757046    204    9134  2446618  1 NORMAL

                                          Nome  \
0                          JOANA AMELIA SOEIRO
1                        CÂMARA MUNICIPAL BEJA
2      MIGUEL ANGELO VALENTE SANTOS DE FREITAS
3                    FREGUESIA DE CABEÇA GORDA
4       JOAO VITOR MONTE TRIGO MONGE GUERREIRO
...                                        ...
44300                         IMOCONCRETO, LDA
44301            HILÁRIO BORRALHO LOBATO SERRA
44302          JOSÉ EDUARDO MOURA DE MIRA CRUZ
44303               MAURO DAVID JACINTO SANTOS
44304                ANTONIO CALVARIO ESTEVENS

                                     NPolicia     Policia A.  \
0                           RUA DO PÉ DA CRUZ              7
1                         RUA DA CADEIA VELHA  BOCA INCENDIO
2                             RUA JOSÉ VARGAS              6
3                       RUA MARQUÊS DE POMBAL     ZONA VERDE
4                      RUA CORONEL BRITO PAIS             12
...                                       ...            ...
44300                        RUA TEN. VALADIM             78
44301                RUA INFANTE DOM HENRIQUE             16
44302                PRCT MESTRE JOAQUIM MATA              1
44303  BAIRRO RESIDENCIAL DA BASE AÉREA 11 BL      -TS 1/S 2
44304                        RUA TEN. VALADIM             17

                   Andar A. Localidade A.  ... DataInstalacao  CalibreLocal  \
0                       NaN          BEJA  ...            NaN            15
1      Frt N2 (Beja Romana)          BEJA  ...            NaN            15
2                       NaN      BALEIZÃO  ...            NaN            15
3                       NaN  CABEÇA GORDA  ...            NaN            15
4                       NaN          BEJA  ...     05/08/2010            15
...                     ...           ...  ...            ...           ...
44300                   NaN          BEJA  ...     20/03/2024            15
44301             1ºFR 1 FR          BEJA  ...     27/03/2024            20
44302                   2FT          BEJA  ...     22/01/2008            20
44303                  4C/D          BEJA  ...     12/06/2020            15
44304                   1EQ          BEJA  ...     23/01/2020            20

                      Marca      Modelo                Numero    DN  \
0                       NaN         NaN                   NaN   NaN
1                       NaN         NaN                   NaN   NaN
2                       NaN         NaN                   NaN   NaN
3                       NaN         NaN                   NaN   NaN
4                1 ATLANTIS    ATL.15.5        2010/555746010  15.0
...                     ...         ...                   ...   ...
44300               19 JANZ      JV 600          2023/8987379  15.0
44301               19 JANZ  JV 400 2.5          2023/9132145  20.0
44302  4 FLOW SYSTEM LORENZ    FLO.20.5         2007/80256707  20.0
44303             20 AXIOMA  QALCOSONIC          2019/5089223  15.0
44304         12 Bruno Janz       JV400  2019/000000007801593  20.0

          DataULF     ULF     DataULE     ULE
0             NaN     NaN         NaN     NaN
1             NaN     NaN         NaN     NaN
2             NaN     NaN         NaN     NaN
3             NaN     NaN         NaN     NaN
4             NaN     NaN  01/02/2023    17.0
...           ...     ...         ...     ...
44300  07/06/2024     4.0  08/05/2024     2.0
44301  02/09/2024    35.0  27/08/2024    34.0
44302  01/02/2024  1110.0  31/01/2024  1110.0
44303  23/08/2024   140.0  31/07/2024   140.0
44304  04/11/2024   214.0  31/10/2024   214.0

[44305 rows x 29 columns]>

In [35]:
# Save to csv
dataset.to_csv('dataset.csv')