<a href="https://colab.research.google.com/github/miguelcasadinho/colab/blob/main/soccer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data cleaning

In [1]:
# Import the libraries
import numpy as np
import pandas as pd

In [6]:

# Import the dataset
dataset = pd.read_csv('games.csv')

# Filter by league
dataset = dataset[dataset['competition_id'].isin(['ES1'])]

# Keep only specific columns
columns_to_keep = ['season','round','date','home_club_name','away_club_name','home_club_position','away_club_position','home_club_goals','away_club_goals']
dataset = dataset[columns_to_keep]

# Create a new column 'winner'
dataset['winner'] = dataset.apply(
    lambda row: row['home_club_name'] if row['home_club_goals'] > row['away_club_goals']
    else row['away_club_name'] if row['home_club_goals'] < row['away_club_goals']
    else 'draw', axis=1
)


print(dataset.head)

<bound method NDFrame.head of        season         round        date                       home_club_name  \
75       2013   4. Matchday  2013-09-16                 Athletic Club Bilbao
76       2013  25. Matchday  2014-02-23     Valencia Club de Fútbol S. A. D.
77       2013   9. Matchday  2013-10-21     Real Club Celta de Vigo S. A. D.
78       2013  18. Matchday  2014-01-04     Valencia Club de Fútbol S. A. D.
79       2013  14. Matchday  2013-11-23       Club Atlético de Madrid S.A.D.
...       ...           ...         ...                                  ...
71810    2018   1. Matchday  2018-08-19      Rayo Vallecano de Madrid S.A.D.
71856    2023  18. Matchday  2023-12-21                             Cádiz CF
71857    2023  12. Matchday  2023-11-04     Real Club Celta de Vigo S. A. D.
71864    2022  25. Matchday  2023-03-12  Real Club Deportivo Mallorca S.A.D.
71866    2023  33. Matchday  2024-04-28     Villarreal Club de Fútbol S.A.D.

                                away_club_name  home_club_position  \
75            Real Club Celta de Vigo S. A. D.                 5.0
76                                  Granada CF                 7.0
77                                  Levante UD                19.0
78                                  Levante UD                 8.0
79     Getafe Club de Fútbol S.A.D. Team Dubai                 2.0
...                                        ...                 ...
71810               Sevilla Fútbol Club S.A.D.                18.0
71856           Real Sociedad de Fútbol S.A.D.                17.0
71857               Sevilla Fútbol Club S.A.D.                18.0
71864           Real Sociedad de Fútbol S.A.D.                10.0
71866          Rayo Vallecano de Madrid S.A.D.                 9.0

       away_club_position  home_club_goals  away_club_goals  \
75                    9.0                3                2
76                   13.0                2                1
77                    9.0                0                1
78                   13.0                2                0
79                    7.0                7                0
...                   ...              ...              ...
71810                 1.0                1                4
71856                 6.0                0                0
71857                15.0                1                1
71864                 4.0                1                1
71866                15.0                3                0

                                 winner
75                 Athletic Club Bilbao
76     Valencia Club de Fútbol S. A. D.
77                           Levante UD
78     Valencia Club de Fútbol S. A. D.
79       Club Atlético de Madrid S.A.D.
...                                 ...
71810        Sevilla Fútbol Club S.A.D.
71856                              draw
71857                              draw
71864                              draw
71866  Villarreal Club de Fútbol S.A.D.

[4709 rows x 10 columns]>